* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.container {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.top-menu {
    border-bottom: 1px solid #333;
    padding: 8px 0;
}

.top-menu a {
    margin: 0 3px;
    color: #2BAAEC;
}

.main-menu {
    padding: 20px 0;
}

.main-menu ul {
    display: flex;
    justify-content: space-between;
}

.main-menu ul li {
    padding: 0 15px;
}

.main-menu ul li:last-child {
    padding-right: 0;
}

.main-menu ul li a {
    color: #363636;
    transition: .5s;
    text-decoration: none;
}

.main-menu ul li a:hover {
    color: #2BAAEC;
}